@{
    ViewBag.Title = "MovieIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="moviesTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#moviesTable").DataTable({
                ajax: {
                    url: "/Api/Movies",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
    
}
