<appSettings>
  <add key="MailServer" value="vidly.smtp.com"/>
  <add key="FacebookAppId" value="348094152396965"/>
  <add key="FacebookAppSecret" value="25039f41a27cd2bc5a514e195d80427a348094152396965"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>